/Debug
/.vs
src/Debug
src/.vs
/*.pdb
/*.exe
/*.obj
/*.ilk
/build/Dll1/.vs
/build/.vs
/build/Release
/build/X64
/build/*.sln
/build/*.vcxproj
/build/*.filters
/build/*.user
/demo/*.ilk
/demo/*.obj
/demo/*.pdb
